.navbar-grande {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  margin-left: -400px;
}

.navbar-grande .navbar-brand {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.navbar-grande .nav-link {
  font-size: 25px;
  font-weight: 500;
  padding: 0.6rem 1.1rem;
}
.nav{
  min-Height: "100px";
  background-image: url("/public/fondo2.png"); 
  background-repeat: repeat;   
  padding: "0.5rem 0";
}